@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles y tabletas */
  .nav-elementos {
    height: 0;
    width: 100vw;
    position: absolute;
    z-index: 9999999;
    top: 70px;
    left: 0;
    right: 0;
    background: white;
    opacity: 0.9;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-elementos ul {
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-elementos ul li {
    margin-bottom: 50px;
    transition: transform ease 0.8s;
  }
  .nav-elementos ul li:hover {
    transform: scale(1.2);
  }
  .nav-elementos ul li a {
    color: black;
  }
  .redes-sociales {
    display: none;
  }
  #toggle-main {
    display: contents;
  }
  .nav-elementos.active {
    height: 360px;
  }
  .nav-elementos.active ul {
    opacity: 1;
  }
}

/* presentacion */
@media screen and (max-width: 768px) {
  .img-rostro {
    position: absolute;
    width: 100vw;
  }
  .descripcion {
    position: relative;
    z-index: 9999;
    width: 100vw;
    justify-content: end;
    margin: 30px;
    transition: transform 0.5 ease;
  }
  .descripcion:hover {
    transform: scale(1.1);
  }
}
/* portafolio */
@media screen and (max-width: 1020px) {
  .thumbnail {
    width: 18rem;

    height: 18rem;
  }
}
@media screen and (max-width: 670px) {
  .thumbnail {
    width: 21rem;

    height: 21rem;
  }
}
