/* presentacion */
.presentacion {
  position: relative;
  z-index: 222;
  height: 600px;
  width: 100vw;
  display: flex;
  background: black;
}

.img-rostro {
  background: url("/imagenes/mifoto.png") no-repeat;
  background-size: cover;
  height: 600px;
  min-width: 50%;
  opacity: 0.5;
}

.descripcion {
  color: white;
  min-width: 50%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  animation: parpadeo 3s infinite;
  transition: transform 1s ease-in-out;
}
.descripcion:hover {
  transform: scale(1.5);
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
